.header {
    height: 59vh;
    background: url('/image/satellite.svg') center/cover;
    position: relative;
    display: flex;
    border-radius: $border-radius;
    text-align: left;
    box-shadow: $box-shadow;
}