.scroll {
  position: fixed;
  right: 1.875rem; 
  width: 6.25rem; 
  top: 55%;
  @media #{$tablet-media ,$mobile-media} {
    display: none;
  }
}

.scroll-icon {
  width: 2.375rem; 
  height: 4.125rem; 
  border: 0.1875rem solid white; 
  border-radius: 2.3125rem;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.scroll-icon-wheel {
  height: 0.5625rem; 
  margin: 0.125rem auto 0;
  display: block;
  width: 0.375rem; 
  background-color: white;
  border-radius: 30%;
  animation: 1.6s ease infinite iconScroll;
}

@keyframes iconScroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(2.875rem);
  }
}