.header {
  height: 60vh; /* Change this line */
  background: url('/image/satellite.svg') center/cover ;
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  border-radius: $border-radius;
  text-align: left;
  box-shadow: $box-shadow;
  
  .text-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    text-align: left;
    margin-top: 20%;
  }
}

// Heading styles
.heading-primary {
  color: $color-primary;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 30px;

  &-main {
    display: block;
    font: 400 15px/1 $font-family;
    letter-spacing: 5px;
    margin-bottom: 60px;
  }

  &-sub {
    display: block;
    font: 700 80px/1 $font-family;
    letter-spacing: 9.4px;
  }
}

.content {
  display: flex;
  color: $color-secondary;
  letter-spacing: 0;
  font-size: 0.9rem;
  font-family: 'Playfair Display', serif;
  @media #{$mobile-media} {
    display: none;
  }
}