$font-family: 'Roboto Serif', serif;
$font-size: 16px;
$color-white: #eee;
$color-primary: #fff;
$color-secondary: #d0c0d1b0;
$margin: 0;
$padding: 0;
$border-radius: 40px;
$box-shadow: 0 0 38px rgba(0, 0, 255, 0.5);
